.angular-popover {
	position: absolute;
	box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.2);
	background-color: #fff;
}

.popover-animation {
	animation: skew 0.5s ease-out, floating 3s 0.5s infinite;
	-webkit-animation: skew 0.5s ease-out, floating 3s 0.5s infinite;
}

@-webkit-keyframes floating {
	from {
		transform: translate(0, 0px);
		-webkit-transform: translate(0, 0px);
	}

	60% {
		transform: translate(0, -15px);
		-webkit-transform: translate(0, -8px);	
	}

	to {
		transform: translate(0, -0px);
		-webkit-transform: translate(0, -0px);
	}
}

@keyframes skew {
	0% {
		transform: skewX(0deg);
		-webkit-transform: skewX(0deg);
	}

	20% {
		transform: skewX(20deg);
		-webkit-transform: skewX(20deg);
	}

	40% {
		transform: skewX(-20deg);
		-webkit-transform: skewX(-20deg);
	}

	60% {
		transform: skewX(10deg);
		-webkit-transform: skewX(10deg);	
	}

	80% {
		transform: skewX(-10deg);
		-webkit-transform: skewX(-10deg);	
	}

	100% {
		transform: skewX(0deg);
		-webkit-transform: skewX(0deg);
	}
}

@-webkit-keyframes skew {
	0% {
		transform: skewX(0deg);
		-webkit-transform: skewX(0deg);
	}

	20% {
		transform: skewX(20deg);
		-webkit-transform: skewX(20deg);
	}

	40% {
		transform: skewX(-20deg);
		-webkit-transform: skewX(-20deg);
	}

	60% {
		transform: skewX(10deg);
		-webkit-transform: skewX(10deg);	
	}

	80% {
		transform: skewX(-10deg);
		-webkit-transform: skewX(-10deg);	
	}

	100% {
		transform: skewX(0deg);
		-webkit-transform: skewX(0deg);
	}
}

.hide-popover-element {
	display: none;
}

.angular-popover-triangle {
	width: 30px;
  	height: 30px;
  	position: relative;
  	overflow: hidden;
  	box-shadow: 0 6px 10px -17px rgba(0, 0, 0, 0.2);
}

.angular-popover-triangle:after {
	content: "";
  	position: absolute;
  	width: 15px;
  	height: 15px;
  	background: #fff;
  	transform: rotate(45deg);
	box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.2);
}

.angular-popover-triangle-top:after {
  	top: -8.5px;
  	left: 7px;
}

.angular-popover-triangle-bottom:after {
  	top: 23.5px;
  	left: 7px;
}

.angular-popover-triangle-right::after {
  	top: 7.5px;
  	left: 23.5px;
}

.angular-popover-triangle-left::after {
  	top: 7.5px;
  	left: -8.5px;
}

.angular-popover-container {
	position: absolute;
	width: 0;
	height: 0;
	left: 0;
}