.angular-popover-container {
	position: relative;
	width: 0;
	height: 0;
	left: 0
}

.angular-popover {
	position: absolute;
	box-shadow: 0 0 7px 1px rgba(0, 0, 0, .2);
	background-color: #fff
}

.hide-popover-element {
	display: none
}

.angular-popover-triangle {
	width: 30px;
	height: 30px;
	position: relative;
	overflow: hidden;
	box-shadow: 0 6px 10px -17px rgba(0, 0, 0, .2)
}

.angular-popover-triangle:after {
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	background: #fff;
	transform: rotate(45deg);
	box-shadow: 0 0 7px 1px rgba(0, 0, 0, .2)
}

.angular-popover-triangle-top:after {
	top: -8.5px;
	left: 7px
}

.angular-popover-triangle-bottom:after {
	top: 23.5px;
	left: 7px
}

.angular-popover-triangle-right::after {
	top: 7.5px;
	left: 23.5px
}

.angular-popover-triangle-left::after {
	top: 7.5px;
	left: -8.5px
}

.angular-popover-triangle-bottom-left:after {
	top: 23.5px;
	left: 7px
}

.popover-aside {
	position: relative;
}
